$heightS: 88rpx;
$heightT: 88rpx;

.header {
  width: 750rpx;
  height: $heightS;
  padding: 0 16rpx;
  color: var(--grey);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  .search-bar {
    height: 60rpx;
    width: 588rpx;
    background-color: #f2f2f2;
    border-radius: 30rpx;
    image {
      margin: 0 4px;
    }
  }
  image {
    height: 40rpx;
    margin: 0 44rpx;
    width: 42rpx;
    position: relative;
    bottom: -3px;
  }
}

.tabs {
  justify-content: space-around;
  position: fixed;
  width: 750rpx;
  height: $heightT;
  left: 0;
  background-color: #fff;
  top: $heightS;
  z-index: 2;
  .tab-item {
    flex: 1;
    padding: 8px;
    position: relative;
    bottom: 2px;
    transition: all 0.3s linear;
  }
  .slider {
    width: 29 * 2rpx;
    height: 0;
    background-color: var(--theme);
    border: 1.3px solid var(--theme);
    position: relative;
    top: 28rpx;
    transition: all 0.3s;
  }
  .slider.ind0 {
    left: -605rpx;
  }
  .slider.ind1 {
    left: -((605rpx+147rpx)/2);
  }
  .slider.ind2 {
    left: -147rpx;
  }
  .active {
    color: var(--theme);
  }
}

.card-container {
  $top: $heightS + $heightT;
  position: relative;
  top: $top;
  width: 730rpx;
  margin: 0 auto;
  z-index: 0;
  justify-content: space-around;
  .left-container,
  .right-container {
    width: 173rpx * 2;
    position: relative;
    top: 0;
  }
}
