.card {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px 0;
  box-shadow: 2px 3px 10px #d2d2d2;
  image {
    width: 346rpx;
    height: (346rpx/4) * 3;
  }
  .card-info {
    padding: 20rpx;
    font-size: 16px;
    position: relative;
    .price {
      font-weight: bold;
      color: var(--theme);
      margin-right: 2px;
      position: relative;
      left: -2px;
    }
    .description {
      color: #666;
    }
    .info {
      display: flex;
      margin-top: 30rpx;
      font-size: 12px;
      justify-content: space-between;
      color: #ccc;
    }
  }
}
