.card {
  width: 700rpx;
  height: 200rpx;
  margin: 70rpx 25rpx;
  position: relative;
  transition: all 0.3s;
  .info {
    width: 500rpx;
    float: right;
  }
  .pic {
    width: 200rpx;
    height: 200rpx;
    border-radius: 12rpx;
    float: left;
  }
  .title,
  .subtitle,
  .price,
  .btn {
    position: absolute;
  }
  .title {
    left: 230rpx;
    top: 0;
    font-size: 32rpx;
    color: #333;
  }
  .subtitle {
    top: 50rpx;
    left: 230rpx;
    font-size: 32rpx;
    color: var(--grey);
  }
  .price {
    font-size: 40rpx;
    color: var(--theme);
    bottom: 0;
    left: 230rpx;
    font-weight: bold;
  }
  .btn {
    right: 0;
    bottom: 0;
    z-index: 9;
  }
}
